body {
    font-family: Arial, sans-serif;
    background-color: #fff8e1; 
    color: #333;
    text-align: center;
}
header {
    background-color: #ffab00;
    padding: 20px;
    position: relative;
}
h1 {
    color: white; 
    margin: 0;
}
button {
    background-color: #ffb300; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; 
    right: 20px; 
    transform: translateY(-50%); 
}
button:hover {
    background-color: #ffa000;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; 
}
th, td {
    border: 1px solid #ffb300;
    padding: 10px;
}
th {
    background-color: #ffca28; 
    color: black; 
}
tr:nth-child(even) {
    background-color: #fffde7; 
}